<nav class="chapter-nav desktop-nav">

    <a class="nav-button back"
       href="/story?story_id={{ story_id }}">
        <i class="fa-solid fa-list"></i>
        Chapters
    </a>

    {% if prev_chapter_id %}
    <a class="nav-button prev"
       href="/chapter?story_id={{ story_id }}&chapter_id={{ prev_chapter_id }}">
        <i class="fa-solid fa-arrow-left"></i>
        Previous
    </a>
    {% endif %}

    {% if next_chapter_id %}
    <a class="nav-button next"
       href="/chapter?story_id={{ story_id }}&chapter_id={{ next_chapter_id }}">
        Next
        <i class="fa-solid fa-arrow-right"></i>
    </a>
    {% endif %}

</nav>