html {
    font-size: clamp(14px, 1.2vw, 18px);
}

body {
    margin: 0;
    font-family: var(--font-sans);
    font-size: var(--font-size-base);
    line-height: var(--line-height);
    background: var(--bg-primary);
    color: var(--text-primary);

    padding-bottom: 6rem;
}

/* ICON FIX */
i {
    color: inherit;
}

* {
    box-sizing: border-box;
}
