{
    "printWidth": 120,
    "singleAttributePerLine": false,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "plugins": ["prettier-plugin-jinja-template"],
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "jinja-template"
            }
        }
    ]
}
