.grid {
  --grid-min-card-width: 10vw;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(160px, 20vw, 260px), 1fr)
  );
  gap: var(--grid-gap, 1.25rem);
  padding: var(--grid-padding, 2rem);
}



.grid-compact {
  --grid-min-card-width: 160px;
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    /* padding: var(--grid-mobile-padding, 1rem 1rem 3rem); */
  }
}
