{% extends "layouts/base.html" %} {% block title %}NovelCast{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/pages/author.css" />
{% endblock %}
{% block content %}
    {% include "partials/library_header.html" %}

    <section class="">
        <h2 class="author-name">{{ author }}</h2>
        <div class="author-stories">
            {% if stories %}{% for s in stories %}
                <p>hej</p>
            {% endfor %}{% else %}{% endif %}
        </div>
    </section>
{% endblock %}
