{% extends "layouts/base.html" %}

{% block title %}{{ title }} - {{ chapter }}{% endblock %}

{% block content %}

<head> 
    <link rel="stylesheet" href="/static/css/pages/chapter.css" />
</head>

<!-- PROGRESS BAR -->
<div id="progress-bar"></div>

<!-- READER UI -->
<div class="reader-ui" data-story-id="{{ story_id }}" data-first-unread-id="{{ first_unread_chapter_id | default('') }}">

    {% include "components/reader_header.html" %}

    {% include "components/reader_controls.html" %}

</div>

<!-- CHAPTER CONTENT -->
<main class="chapter-content">

    <h2 class="chapter-title">
        <i class="fa-regular fa-bookmark"></i>
        {{ chapter }}
    </h2>

    <hr />

    {{ content | safe }}

</main>

{% include "components/chapter_nav.html" %}

{% block scripts %}
<script src="/static/js/chapter_page.js" defer></script>
{% endblock %}



{% endblock %}