<!doctype html>
<html>
  <head>
    <title>{% block title %}NovelCast{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />

    <!-- GLOBAL CSS -->
    <link rel="stylesheet" href="/static/css/tokens.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />

    <!-- COMPONENT CSS -->
    <link rel="stylesheet" href="/static/css/components/nav.css" />
    <link rel="stylesheet" href="/static/css/components/cards.css" />
    <link rel="stylesheet" href="/static/css/components/forms.css" />
    <link rel="stylesheet" href="/static/css/components/modal.css" />
    <link rel="stylesheet" href="/static/css/pages/notifications.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    {% block head %}{% endblock %}

  </head>

  <body>

    {% block content %}{% endblock %}

    {% include "components/notifications.html" %}

    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/library_header.js"></script>
    <script src="/static/js/notifications.js"></script>

    {% block scripts %}{% endblock %}

  </body>
</html>